<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacob's Schedules</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" type='text/css' href="style.css"/>

</head>
<body>
    <div id="vue_app">
        <div class="row">
            <div class="col-3">
        
            </div>
            <div class="col-6">
                <h1>{{test}}</h1>
            </div>
            <div class="col-3">

            </div>
        </div>

        <div class="row">
            <div class="col-3">
        
            </div>
            <div class="col-6 goop">
                <p class="letter" @click="toggleA">A</p>
                <p class="letter" @click="toggleB">B</p>
                <p class="letter" @click="toggleC">C</p>
                <p class="letter" @click="toggleD">D</p>
                <p class="letter" @click="toggleE">E</p>
                <p class="letter" @click="toggleF">F</p>
                <p class="letter" @click="toggleG">G</p>
            </div>
            <div class="col-3">

            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                
                <table class="sched">
                    <tr>
                        <th>
                            Class
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Room
                        </th>
                        <th>
                            Days
                        </th>
                    </tr>

                    <tr v-for="(schedule, index) in schedules">
                        <td v-if="schedules[index].isActive">
                            {{schedules[index].class_name}}
                        </td>
                        <td v-if="schedules[index].isActive">
                            {{schedules[index].teacher_name}}
                        </td>
                        <td v-if="schedules[index].isActive">
                            {{schedules[index].room_number}}
                        </td>
                        <td v-if="schedules[index].isActive"> 
                            {{schedules[index].days}}
                        </td>
                    </tr>
                </table>
                
            </div>
            <div class="col-3">

            </div>
        </div>

    </div>

    <script type="text/javascript" src="site.js"></script>
</body>
</html>