<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacob's Schedules</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" type='text/css' href="style.css"/>

</head>
<body>
    <div id="vue_app">
        <div class="row">
            <div class="col-3">
        
            </div>
            <div class="col-6">
                <h1>{{test}}</h1>
            </div>
            <div class="col-3">

            </div>
        </div>

        <div class="row">
            <div class="col-3">
        
            </div>
            <div class="col-6 goop">
                <p class="letter" @click="toggleA">A</p>
                <p class="letter" @click="toggleB">B</p>
                <p class="letter" @click="toggleC">C</p>
                <p class="letter" @click="toggleD">D</p>
                <p class="letter" @click="toggleE">E</p>
                <p class="letter" @click="toggleF">F</p>
                <p class="letter" @click="toggleG">G</p>
            </div>
            <div class="col-3">

            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                
                <table class="sched">
                    <tr>
                        <th>
                            Class
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Room
                        </th>
                        <th>
                            Days
                        </th>
                    </tr>
                    <tr v-if="schedules[0].isActive">
                        <td>
                            {{schedules[0].class_name}}
                        </td>
                        <td>
                            {{schedules[0].teacher_name}}
                        </td>
                        <td>
                            {{schedules[0].room_number}}
                        </td>
                        <td> 
                            {{schedules[0].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[0].isActive">
                        <td>
                            {{schedules[1].class_name}}
                        </td>
                        <td>
                            {{schedules[1].teacher_name}}
                        </td>
                        <td>
                            {{schedules[1].room_number}}
                        </td>
                        <td> 
                            {{schedules[1].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[0].isActive">
                        <td>
                            {{schedules[2].class_name}}
                        </td>
                        <td>
                            {{schedules[2].teacher_name}}
                        </td>
                        <td>
                            {{schedules[2].room_number}}
                        </td>
                        <td> 
                            {{schedules[2].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[0].isActive">
                        <td>
                            {{schedules[4].class_name}}
                        </td>
                        <td>
                            {{schedules[4].teacher_name}}
                        </td>
                        <td>
                            {{schedules[4].room_number}}
                        </td>
                        <td> 
                            {{schedules[4].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[0].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[1].isActive">
                        <td>
                            {{schedules[3].class_name}}
                        </td>
                        <td>
                            {{schedules[3].teacher_name}}
                        </td>
                        <td>
                            {{schedules[3].room_number}}
                        </td>
                        <td> 
                            {{schedules[3].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[1].isActive">
                        <td>
                            {{schedules[0].class_name}}
                        </td>
                        <td>
                            {{schedules[0].teacher_name}}
                        </td>
                        <td>
                            {{schedules[0].room_number}}
                        </td>
                        <td> 
                            {{schedules[0].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[1].isActive">
                        <td>
                            {{schedules[1].class_name}}
                        </td>
                        <td>
                            {{schedules[1].teacher_name}}
                        </td>
                        <td>
                            {{schedules[1].room_number}}
                        </td>
                        <td> 
                            {{schedules[1].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[1].isActive">
                        <td>
                            {{schedules[6].class_name}}
                        </td>
                        <td>
                            {{schedules[6].teacher_name}}
                        </td>
                        <td>
                            {{schedules[6].room_number}}
                        </td>
                        <td> 
                            {{schedules[6].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[1].isActive">
                        <td>
                            {{schedules[4].class_name}}
                        </td>
                        <td>
                            {{schedules[4].teacher_name}}
                        </td>
                        <td>
                            {{schedules[4].room_number}}
                        </td>
                        <td> 
                            {{schedules[4].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[2].isActive">
                        <td>
                            {{schedules[2].class_name}}
                        </td>
                        <td>
                            {{schedules[2].teacher_name}}
                        </td>
                        <td>
                            {{schedules[2].room_number}}
                        </td>
                        <td> 
                            {{schedules[2].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[2].isActive">
                        <td>
                            {{schedules[3].class_name}}
                        </td>
                        <td>
                            {{schedules[3].teacher_name}}
                        </td>
                        <td>
                            {{schedules[3].room_number}}
                        </td>
                        <td> 
                            {{schedules[3].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[2].isActive">
                        <td>
                            {{schedules[0].class_name}}
                        </td>
                        <td>
                            {{schedules[0].teacher_name}}
                        </td>
                        <td>
                            {{schedules[0].room_number}}
                        </td>
                        <td> 
                            {{schedules[0].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[2].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[2].isActive">
                        <td>
                            {{schedules[6].class_name}}
                        </td>
                        <td>
                            {{schedules[6].teacher_name}}
                        </td>
                        <td>
                            {{schedules[6].room_number}}
                        </td>
                        <td> 
                            {{schedules[6].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[3].isActive">
                        <td>
                            {{schedules[1].class_name}}
                        </td>
                        <td>
                            {{schedules[1].teacher_name}}
                        </td>
                        <td>
                            {{schedules[1].room_number}}
                        </td>
                        <td> 
                            {{schedules[1].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[3].isActive">
                        <td>
                            {{schedules[2].class_name}}
                        </td>
                        <td>
                            {{schedules[2].teacher_name}}
                        </td>
                        <td>
                            {{schedules[2].room_number}}
                        </td>
                        <td> 
                            {{schedules[2].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[3].isActive">
                        <td>
                            {{schedules[3].class_name}}
                        </td>
                        <td>
                            {{schedules[3].teacher_name}}
                        </td>
                        <td>
                            {{schedules[3].room_number}}
                        </td>
                        <td> 
                            {{schedules[3].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[3].isActive">
                        <td>
                            {{schedules[4].class_name}}
                        </td>
                        <td>
                            {{schedules[4].teacher_name}}
                        </td>
                        <td>
                            {{schedules[4].room_number}}
                        </td>
                        <td> 
                            {{schedules[4].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[3].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[4].isActive">
                        <td>
                            {{schedules[0].class_name}}
                        </td>
                        <td>
                            {{schedules[0].teacher_name}}
                        </td>
                        <td>
                            {{schedules[0].room_number}}
                        </td>
                        <td> 
                            {{schedules[0].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[4].isActive">
                        <td>
                            {{schedules[1].class_name}}
                        </td>
                        <td>
                            {{schedules[1].teacher_name}}
                        </td>
                        <td>
                            {{schedules[1].room_number}}
                        </td>
                        <td> 
                            {{schedules[1].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[4].isActive">
                        <td>
                            {{schedules[2].class_name}}
                        </td>
                        <td>
                            {{schedules[2].teacher_name}}
                        </td>
                        <td>
                            {{schedules[2].room_number}}
                        </td>
                        <td> 
                            {{schedules[2].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[4].isActive">
                        <td>
                            {{schedules[6].class_name}}
                        </td>
                        <td>
                            {{schedules[6].teacher_name}}
                        </td>
                        <td>
                            {{schedules[6].room_number}}
                        </td>
                        <td> 
                            {{schedules[6].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[4].isActive">
                        <td>
                            {{schedules[4].class_name}}
                        </td>
                        <td>
                            {{schedules[4].teacher_name}}
                        </td>
                        <td>
                            {{schedules[4].room_number}}
                        </td>
                        <td> 
                            {{schedules[4].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[5].isActive">
                        <td>
                            {{schedules[3].class_name}}
                        </td>
                        <td>
                            {{schedules[3].teacher_name}}
                        </td>
                        <td>
                            {{schedules[3].room_number}}
                        </td>
                        <td> 
                            {{schedules[3].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[5].isActive">
                        <td>
                            {{schedules[0].class_name}}
                        </td>
                        <td>
                            {{schedules[0].teacher_name}}
                        </td>
                        <td>
                            {{schedules[0].room_number}}
                        </td>
                        <td> 
                            {{schedules[0].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[5].isActive">
                        <td>
                            {{schedules[1].class_name}}
                        </td>
                        <td>
                            {{schedules[1].teacher_name}}
                        </td>
                        <td>
                            {{schedules[1].room_number}}
                        </td>
                        <td> 
                            {{schedules[1].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[5].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[5].isActive">
                        <td>
                            {{schedules[6].class_name}}
                        </td>
                        <td>
                            {{schedules[6].teacher_name}}
                        </td>
                        <td>
                            {{schedules[6].room_number}}
                        </td>
                        <td> 
                            {{schedules[6].days}}
                        </td>
                    </tr>


                    <tr v-if="schedules[6].isActive">
                        <td>
                            {{schedules[2].class_name}}
                        </td>
                        <td>
                            {{schedules[2].teacher_name}}
                        </td>
                        <td>
                            {{schedules[2].room_number}}
                        </td>
                        <td> 
                            {{schedules[2].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[6].isActive">
                        <td>
                            {{schedules[3].class_name}}
                        </td>
                        <td>
                            {{schedules[3].teacher_name}}
                        </td>
                        <td>
                            {{schedules[3].room_number}}
                        </td>
                        <td> 
                            {{schedules[3].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[6].isActive">
                        <td>
                            {{schedules[6].class_name}}
                        </td>
                        <td>
                            {{schedules[6].teacher_name}}
                        </td>
                        <td>
                            {{schedules[6].room_number}}
                        </td>
                        <td> 
                            {{schedules[6].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[6].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>
                    <tr v-if="schedules[6].isActive">
                        <td>
                            {{schedules[5].class_name}}
                        </td>
                        <td>
                            {{schedules[5].teacher_name}}
                        </td>
                        <td>
                            {{schedules[5].room_number}}
                        </td>
                        <td> 
                            {{schedules[5].days}}
                        </td>
                    </tr>
                </table>
                
            </div>
            <div class="col-3">

            </div>
        </div>

    </div>

    <script type="text/javascript" src="site.js"></script>
</body>
</html>