html,
body {
    background-color: rgb(196, 164, 226);
}

h1{
    text-align: center;
    
}

.letter {
    float: left;
    margin: 3%;
    background-color: aquamarine;
    border-radius: 25%;
    font-size: 50px;
    padding: 2%;
    font-family: 'Space Mono', monospace;
    transition: all .5s ease;
}

.letter:hover {
    background-color: rgb(127, 172, 255);
}

.letters {
    float: left;
    margin: 3%;
    background-color: aquamarine;
    border-radius: 25%;

}

.goop{
    display: flex;
    justify-content: space-between;
}

.sched{
    width:100%;
    border: 3px solid;
}

th{
    border: 2px solid;
}

td{
    border: 2px double;

}